<%= form_with(model: [:admin, game], local: true) do |form| %>
<% if game.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

    <ul>
        <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
</div><br>

<div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: 'form-control'  %>
</div><br>

<div class="field">
    <%= form.label :about %>
    <%= form.rich_text_area :about, id: 'rich_text_area', class: 'form-control'%>
  </div><br>

<div class="field">
  <%= form.label "Platforms" %><br />
  <%= form.collection_check_boxes :platform_ids, Platform.all, :id, :name do |b| %>
    <div class="">
      <%= b.check_box %> <%= b.label %>
    </div>
  <% end %>
</div><br>


<div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, class: 'form-control'  %>
</div><br>

<div class="field">
    <%= form.label 'Trailer id' %>
    <%= form.text_field :trailer, class: 'form-control'  %>
</div><br>

<div class="field">
    <%= form.label 'Image (16:9)' %>
    <%= form.file_field :avatar, class: 'form-control'  %>
</div><br>

<div class="actions">
    <%= form.submit(class: 'btn btn-primary')  %>
</div>
<% end %>