<div id="games-show">
    <div class="row header">
        <div class="col-md-7">
            <h3 id="page_title"><%=@game.name%></h3>
        </div>
        <div class="col-md-5">
            <%if @loan != nil%>
            <%= link_to "Return the game", return_path(@game), class: 'span btn btn-outline-success btn-lg btn-block', id: 'btn_borrow' %>
            <%else%>
            <%= link_to "Borrow (Available: "+@game.quantity.to_s+")", borrow_path(@game), class: 'span btn btn-outline-success btn-lg btn-block', id: 'btn_borrow' %>
            <%end%>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7" id="coloana_pt_trailer">
            <div id="div_pt_trailer">
                <iframe src='<%="https://www.youtube.com/embed/#{@game.trailer}?autoplay=1&mute=1"%>' frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-5" id="coloana_descriere_totala">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        <strong>Year:</strong>
                        <%= @game.year %>
                    </p>
                    <p>
                        <strong>Platforms:</strong>
                        <% @game.platforms.each do |platform|%>
                            <%= platform.name%>
                        <%end%>
                    </p>
                </div>
                <div class=" col-md-4">
                    <%= image_tag @game.img_path %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <strong>About:</strong>
                        <%= @game.about %>
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>