<!DOCTYPE html>
<html>

<head>
    <title>Gameapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render  "partials/navbar" %>

        <div class='container'>
            <%if flash[:notice] %>
                <p class="alert alert-success"><%= notice %></p>
            <%end%>
            <%if flash[:alert] %>
                <p class="alert alert-danger"><%= alert %></p>
            <%end%>
            <%= yield %>            
        </div>
  
    <footer>
        <%= link_to  "Admin", admin_games_path %>
    </footer>
</body>

</html>